@import url(styles/header.css);
@import url(styles/grid.css);
:root{
    --cor-de-fundo: #e5e5e5;
    --branco: #FFFFFF;
    --amarelo:  #FECD2F;
    --roxo-degrade: 
    linear-gradient(94.49deg,  #733887 35.48%,  #C75EEB 143.32%);

}
body{
    background-color: #363636;
}

h1{
    color: blue;
     text-align: center;
    font-size: 35px;
     padding: 30px;

}

.carrossel_img{
    margin-left: 50%;
}

p2{
    color: rgb(0, 255, 0);
     text-align: center;
    font-size: 20px;
 padding: 30px;
}

