.Imagem{
    width: 100px!important;
    height: 100px!important;
}
.div-todasimagens{
    display: grid;
    grid-template-columns: 10% 30% 10% 30% 10%;
    text-align: center;
    margin-top: 25px;
    position: inherit;
}
.titulo{
    font-size: 25px;
    color: #00FA9A;
    margin-bottom: 7px;
    text-align: center;
}
@media screen and (min-width: 825px) {
    .Imagem{
    border: 3px solid rgb(0, 255, 0);
    width: 180px!important;
    height:180px!important;
    }
   
}
