.Imagem{
    width: 28%!important;
    height: 28%!important;
}
.div-todasimagens{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    text-align: center;
    margin-top: 25px;
    position: inherit;
}
.titulo{
    font-size: 10px;
    color: #00FA9A;
    margin-bottom: 7px;
    text-align: center;
}
@media screen and (min-width: 825px) {
    .Imagem{
    border: 3px solid rgb(0, 255, 0);
    width: 28%!important;
    height: 28%!important;
    }
   
}
