.Imagem{
    width: 100px!important;
    height: 100px!important;
    border: 2px solid rgb(0, 255, 0);
}
.div-todasimagens{
    display: grid;
    grid-template-columns: 16% 30% 8% 30% 16%;
    text-align: center;
    margin-top: 55px;
    position: inherit;
}
.titulo{
    font-size: 25px;
    color: #00FA9A;
    margin-bottom: 7px;
    text-align: center;
}
@media screen and (min-width: 825px) {
    .Imagem{
    border: 2px solid rgb(0, 255, 0);
    width: 300px!important;
    height:300px!important;
    }
   
}
