@media screen and (min-width: 1024px){
    .titulo_cabecalho{
font-size: 30px;
        display: block;     
    }
.opcoes{
    display: flex;
}
    .opcoes_item{
   padding: 0 1em;
}
    .opcoes_link{
text-decoration: none;
        color:black
    }
   .container__imagem--transparente{
    display: none; 
   }
    cabecalho_menu-hambuger{
display: none;
    }
    
.cabecalho__menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.cabecalho{
    background-color: black;
    display: flex;
    justify-content: sapce-between;
    aling-itms: center;
    position: relative;
}
.container{
    display: flex;
    align-items: center;
}
.container__imagem{
    padding: 1em;
}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    background-color: var(--branco);
    width:60vw
}
.container__botao{
    display: none;
}
.container__botao:checked~.lista-menu{
    display: block;
}
.lista-menu__titulo{
    color: var(--amarelo);
}
.lista-menu__item{
    background: var(--roxo);
}
